## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns=['EIN'])

In [20]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()

# Display unique counts
print(unique_counts)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts_gt_1 = classification_value_counts[classification_value_counts > 1]

# Display the filtered value counts
print(classification_value_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1234        2
C1267        2
C1246        2
C3200        2
Name: count, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff = 1000

# Create a list of classifications to replace
classifications_to_replace = classification_value_counts[classification_value_counts < classification_cutoff].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Display the encoded dataframe
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [27]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL']
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=30)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

input_features = X_train_scaled.shape[1]

# get input features dimension

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='sigmoid'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 100)               1961200

 dense_5 (Dense)             (None, 30)                3030

 dense_6 (Dense)             (None, 10)                310

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 1964551 (7.49 MB)
Trainable params: 1964551 (7.49 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [31]:
# Train the model
train_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4915 - accuracy: 0.7766
Epoch 2/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1710 - accuracy: 0.9473
Epoch 3/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1098 - accuracy: 0.9625
Epoch 4/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1004 - accuracy: 0.9629
Epoch 5/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0955 - accuracy: 0.9632
Epoch 6/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0934 - accuracy: 0.9631
Epoch 7/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0914 - accuracy: 0.9637
Epoch 8/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0897 - accuracy: 0.9642
Epoch 9/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0894 - accuracy: 0.9637
Epoch 10/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0891 - accuracy: 0.9637
Epoch 11/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0885 - accuracy: 0.9642
Epoch 12/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0892 - accuracy: 0.9636
Epoch 13/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0887 - accuracy: 0.9638
Epoch 14/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0879 - accuracy: 0.9642
Epoch 15/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0877 - accuracy: 0.9639
Epoch 16/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0869 - accuracy: 0.9646
Epoch 17/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0873 - accuracy: 0.9640
Epoch 18/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0863 - accuracy: 0.9648
Epoch 19/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0864 - accuracy: 0.9647
Epoch 20/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0863 - accuracy: 0.9644
Epoch 21/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0878 - accuracy: 0.9645
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0864 - accuracy: 0.9644
Epoch 23/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0863 - accuracy: 0.9647
Epoch 24/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0860 - accuracy: 0.9651
Epoch 25/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0852 - accuracy: 0.9654
Epoch 26/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0854 - accuracy: 0.9654
Epoch 27/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0850 - accuracy: 0.9650
Epoch 28/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0849 - accuracy: 0.9654
Epoch 29/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0845 - accuracy: 0.9652
Epoch 30/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0855 - accuracy: 0.9654
Epoch 31/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0848 - accuracy: 0.9654
Epoch 32/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0846 - accuracy: 0.9658
Epoch 33/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0841 - accuracy: 0.9655
Epoch 34/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0843 - accuracy: 0.9658
Epoch 35/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0837 - accuracy: 0.9651
Epoch 36/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0839 - accuracy: 0.9655
Epoch 37/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0843 - accuracy: 0.9657
Epoch 38/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0853 - accuracy: 0.9651
Epoch 39/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0842 - accuracy: 0.9658
Epoch 40/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0837 - accuracy: 0.9657
Epoch 41/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0831 - accuracy: 0.9659
Epoch 42/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0840 - accuracy: 0.9658
Epoch 43/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0836 - accuracy: 0.9658
Epoch 44/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0832 - accuracy: 0.9662
Epoch 45/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0829 - accuracy: 0.9663
Epoch 46/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0835 - accuracy: 0.9661
Epoch 47/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0831 - accuracy: 0.9663
Epoch 48/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0827 - accuracy: 0.9665
Epoch 49/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0828 - accuracy: 0.9660
Epoch 50/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0828 - accuracy: 0.9664
Epoch 51/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0831 - accuracy: 0.9663
Epoch 52/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0829 - accuracy: 0.9662
Epoch 53/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0832 - accuracy: 0.9666
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0829 - accuracy: 0.9658
Epoch 55/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0831 - accuracy: 0.9663
Epoch 56/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0827 - accuracy: 0.9659
Epoch 57/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0826 - accuracy: 0.9663
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0825 - accuracy: 0.9664
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0824 - accuracy: 0.9665
Epoch 60/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0819 - accuracy: 0.9664
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0817 - accuracy: 0.9666
Epoch 62/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0819 - accuracy: 0.9666
Epoch 63/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0822 - accuracy: 0.9662
Epoch 64/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0819 - accuracy: 0.9668
Epoch 65/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0817 - accuracy: 0.9667
Epoch 66/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0819 - accuracy: 0.9663
Epoch 67/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0815 - accuracy: 0.9664
Epoch 68/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0814 - accuracy: 0.9668
Epoch 69/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0811 - accuracy: 0.9665
Epoch 70/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0813 - accuracy: 0.9668
Epoch 71/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0805 - accuracy: 0.9666
Epoch 72/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0803 - accuracy: 0.9669
Epoch 73/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0818 - accuracy: 0.9669
Epoch 74/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0808 - accuracy: 0.9665
Epoch 75/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0807 - accuracy: 0.9668
Epoch 76/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0805 - accuracy: 0.9666
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0801 - accuracy: 0.9666
Epoch 78/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0806 - accuracy: 0.9668
Epoch 79/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0801 - accuracy: 0.9675
Epoch 80/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0807 - accuracy: 0.9674
Epoch 81/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0803 - accuracy: 0.9673
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0808 - accuracy: 0.9670
Epoch 83/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0802 - accuracy: 0.9673
Epoch 84/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0798 - accuracy: 0.9673
Epoch 85/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0798 - accuracy: 0.9675
Epoch 86/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0796 - accuracy: 0.9678
Epoch 87/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0792 - accuracy: 0.9675
Epoch 88/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0794 - accuracy: 0.9680
Epoch 89/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0801 - accuracy: 0.9670
Epoch 90/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0794 - accuracy: 0.9671
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0792 - accuracy: 0.9675
Epoch 92/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0787 - accuracy: 0.9678
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0791 - accuracy: 0.9678
Epoch 94/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0795 - accuracy: 0.9676
Epoch 95/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0796 - accuracy: 0.9674
Epoch 96/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0790 - accuracy: 0.9677
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0788 - accuracy: 0.9679
Epoch 98/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0784 - accuracy: 0.9681
Epoch 99/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0798 - accuracy: 0.9680
Epoch 100/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0792 - accuracy: 0.9675

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5014 - accuracy: 0.7771 - 671ms/epoch - 3ms/step
Loss: 0.501365065574646, Accuracy: 0.7771428823471069

In [33]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(